body {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.wrapper {
  width: 1300px;
  margin: auto; }

nav {
  background: #f5f5f5;
  width: 100%;
  padding: 20px; }
  nav li {
    display: inline-block; }
  nav a {
    display: block;
    color: #333333;
    text-decoration: none; }
    nav a:hover {
      color: #4183c4; }

aside, section {
  vertical-align: top;
  display: inline-block; }

aside {
  width: 35%;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px; }
  aside img {
    width: 300px; }

section {
  width: 50%;
  margin-left: 45px; }
  section li {
    display: inline-block; }
    section li a {
      text-decoration: none;
      display: block;
      color: #4183c4; }
      section li a:hover {
        text-decoration: underline; }

.gravatar img {
  width: 30px; }

.activity, .repo {
  display: none; }

.active {
  display: inline-block; }

.activeNav a {
  color: #4183c4;
  text-decoration: underline; }
